<!DOCTYPE html>
<html lang="en">
	<head>
		<%= yield_content :page_title %>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<%= yield_content :extra_stylesheets %>
		<style>
			body {
				background-color: #232323;
				color: #747474;
				text-align: left;
				margin: 32px;
				font-family: Tahoma, Geneva, sans-serif;
			}
			a:link {
				color: #FFCC00;
			}	
			a:visited {
				color: #FFCC00;
			}
			a:hover {
				color: #CCA300;
			}	
			a:active {
				color: #FFCC00;
			}
			code {
				display: inline-block;
				font-size: inherit;
				font-family: Menlo, Consolas, monaco, monospace;
				border: 1px solid #777;
				border-radius: 3px;
				padding: 0 5px;
			}
			.navbar-inverse .navbar-nav > li > a {
				color: #FFCC00;
			}
			.navbar {
				background-color: #151515;
  			}
  			.navbar-nav li a {
  				line-height: 40px;
  			}
  			.navbar-text {
  				padding-right: 10px;
  			}
			<%= yield_content :extra_css %>
		</style>
	</head>
	<body>	
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<% if logged_in? %>
				<ul class="nav navbar-nav">
					<li><a href='/<%= username %>/todo'>To-Do List</a></li>
					<li><a href="/<%= username %>/addtask">Add a Task</a></li>
					<li><a href="/<%= username %>/removetask">Remove a Task</a></li>
				</ul>
					<p class="navbar-text navbar-right">Signed in as <%= username %><br>
						<a href="/auth/logout">Log Out?</a></p>
				<% else %>
					<p class="navbar-text navbar-right"><a href="/auth/login">Log in</a> or <a href="/auth/signup">Register</a></p>
				<% end %>
			</div>
		</nav>
		<%= yield %>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>